html {
    scroll-behavior: smooth;
::-webkit-scrollbar {
    width: 24px;
    height: 8px;
    background-color: #3f4b29;
}
::-webkit-scrollbar-thumb {
    background-color: #77a840;
    border-radius: 9em;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #3f4b29;
}
::-webkit-scrollbar-button:vertical:start:decrement {
    background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}
::-webkit-scrollbar-button:vertical:end:increment {
    background:
        linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}
::-webkit-scrollbar-button:horizontal:start:decrement {
    background:
        linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}
::-webkit-scrollbar-button:horizontal:end:increment {
    background:
        linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}
}
@media all and (max-width: 1600px) {
    .twocolums_item3 p {
        font-size: 22px !important;
    }
}
@media all and (max-width: 1500px) {
    .miniature_tree {
        scale: 75%;
    }
    .miniature_cofe {
        scale: 75%;
    }
}
@media all and (max-width: 1250px) {
    .twocolums_item3 p {
        font-size: 18px !important;
    }
}
@media all and (max-width: 1200px) {
    .miniature_tree {
        display: none;
    }
    .miniature_cofe {
        display: none;
    }
    .info p {
        font-size: 14px;
    }
    .info span {
        font-size: 14px;
    }
    .section_1_line img {
        width: 500px;
        height: 500px;
        margin-left: 8%;
    }
    .section_1 {
        margin: 0 2% 0 2% !important;
    }
}
@media all and (max-width: 1150px) {
    .threecolums {
        margin: 0 6% 0 6% !important;
    }
    .firstline img {
        width: 200px;
        height: 200px;
    }
    .secondline img {
        width: 200px;
        height: 200px;
    }
    figcaption.context {
        font-size: 24px;
    }
}
@media all and (max-width: 1000px) {
    .section_1 {
        margin: 0 1% 0 1% !important;
        display: grid;
    }
    .section_1_line img {
        width: 400px;
        height: 400px;
    }
    .twocolums_item2 h3 {
        font-size: 28px !important;
    }
    .twocolums_item2 p {
        font-size: 24px !important;
    }
}
@media all and (max-width: 900px) {
    .section_1_line img {
        display: none;
    }
    .section_1_line {
        margin: auto !important;
        justify-content: center;
    }
    .section_1 p {
        min-width: 500px !important;
    }
    .section_1 h1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .twocolums_item3 p {
        font-size: 14px !important;
    }
    .twocolums3 .twocolums_item3:first-child {
        margin-right: 3% !important;
    }
    .twocolums .twocolums_item:first-child {
        margin-right: 15% !important;
    }
}
@media all and (max-width: 800px) {
    .info p {
        font-size: 12px;
    }
    .info span {
        font-size: 12px;
    }
}
@media all and (max-width: 750px) {
    .firstline img {
        width: 140px;
        height: 140px;
    }
    .firstline {
        height: 200px !important;
    }
    .secondline {
        height: 200px !important;
    }
    .secondline img {
        width: 140px;
        height: 140px;
    }
    figcaption.context {
        font-size: 19px;
        margin-top: -25px;
    }
    p.conclusion_page {
        font-size: 16px;
    }
}
@media all and (max-width: 700px) {
    .info p {
        font-size: 10px;
    }
    .info span {
        font-size: 10px;
    }
}
@media all and (max-width: 600px) {
    div.header-line {
        padding-top: 5px;
        margin-left: -25px;
    }
    div.logoname {
        font-size: 15px;
        margin-left: -20px;
    }
    button.button-window {
        font-size: 15px;
        padding-bottom: 2.5px;
        margin-left: -5px;
    }
    div.theme_main {
        font-size: 15px;
        margin-left: -10px;
    }
    .header-logo {
        scale: 50%;
    }
    .after_header_content h1 {
        font-size: 30px !important;
    }
    .after_header_content h3 {
        font-size: 26px !important;
    }
    .line_photo p {
        font-size: 16px !important;
    }
    div.page_content {
        scale: 60%;
        margin: auto;
    }
    .theme_hide {
        scale: 80%;
    }
    .section_1 h1 {
        font-size: 36px !important;
    }
    div.section_1 p {
        font-size: 18px !important;
        min-width: 300px !important;
    }    
    .contact p {
        font-size: 14px !important;
    }
    .contact-mail {
        scale: 70%;
    }
    .info p {
        font-size: 9px;
    }
    .info span {
        font-size: 9px;
    }
    .section_2 h1 {
        font-size: 36px !important;
    }
    .threecolums {
        margin: 0 4% 0 4% !important;
    }
    .section_3 h1 {
        font-size: 36px !important; 
    }
    .twocolums_item h3{
        font-size: 26px !important;
    }
    .twocolums_item p {
        font-size: 12px;
    }
    div.section_4 {
        border-radius: 0%;
    }
    .section_4 h1 {
        font-size: 36px !important;
    }
    p.types_top {
        font-size: 24px;
    }
    p.types_middle {
        font-size: 18px;
    }
    .section_5 h1 {
        font-size: 36px !important;
    }
    .twocolums2 .twocolums_item2:first-child {
        margin-right: 15% !important;
    }
    .twocolums_item2 h3 {
        font-size: 22px !important;
    }
    .twocolums_item2 p {
        font-size: 18px !important;
    }
    .section_6 h1 {
        font-size: 36px !important;
    }
    .twocolums_item3 img {
        display: none;
    }
    .twocolums_item3 p {
        font-size: 18px !important;
    }
    .twocolums_item3 {
        display: block;
        width: 100% !important;
    }
    .twocolums3 {
        white-space: normal !important;
    }
    .twocolums_item3 {
        display: inline-block;
        width: 45%;
        vertical-align: top;
        margin-top: 25px;
    } 
    .section_6 {
        margin: 150px 2% 0 2% !important;
    }
    .twocolums3 .twocolums_item3:first-child {
        margin-right: 0% !important;
    }
    .section_7 h1 {
        font-size: 36px !important;
    }
    h1.conclusion {
        font-size: 36px;
    }
    .contact_href {
        width: 24px;
        height: 24px;
    }
}
@media all and (max-width: 550px) {
    .firstline img {
        width: 100px;
        height: 100px;
    }
    .secondline img {
        width: 100px;
        height: 100px;
    }
    figcaption.context {
        font-size: 14px;
        margin-top: -20px;
    }
}
@media all and (max-width: 450px) {
    .line_photo p {
        font-size: 16px !important;
        min-width: 280px !important;
    }
    .info p {
        font-size: 8px;
    }
    .info span {
        font-size: 8px;
    }
    .firstline img {
        width: 85px;
        height: 85px;
    }
    .secondline img {
        width: 85px;
        height: 85px;
    }
    figcaption.context {
        font-size: 12px;
    }
    .firstline {
        height: 150px !important;
    }
    .secondline {
        height: 150px !important;
    }
    .twocolums_item2 h3 {
        font-size: 16px !important;
    }
    .twocolums_item2 p {
        font-size: 11px !important;
    }
    .twocolums_item3 p {
        font-size: 17px !important;
    }
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #eeab77;
    height: 100%;
    width: 100%;
    margin: 0%;
    transition: 2s;
}
body.theme_hide {
    background-color: rgb(136, 172, 36);
}
body.green_theme {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(136, 172, 36);
    /* background-color: rgb(211, 60, 49);
    background-color: rgb(194, 91, 207); */
    height: 100%;
    width: 100%;
    margin: 0%;
    transition: 2s;
}
body.green_theme .theme_hide {
    background-color: #eeab77;
}
header {
    background-image: url(imcss/bg.jpg);
    background-repeat: no-repeat;
    background-size: 1920px 1286px;
    height: 100%;
    width: 100%;
    margin: 0%;
}
/* start button up*/
.button-up {
    position: fixed;
    background-color: #00000033;
    right: 1%;
    bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;
    transition: 0.3s;
}
.button-up::before {
    content: "";
    width: 40px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url(imcss/arrow-up-337-svgrepo-com.svg);
}
.button-up_hide {
    display: none;
    transition: 1s;
}
@media (hover: hover) and (pointer: fine) {
    .button-up:hover {
      background-color: #00000085;
    }
}
/* end button up */
.header-line {
    padding-top: 20px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.logoname {
    color: #ffffff;
    text-decoration: none;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 30px;
}
/* start button window */
.button-window {
    margin: 0px;
    font-size: 25px;
    color: white;
    background: none;
    outline: none;
    border: none;
    transition: 0.3s;
    padding-top: 5px;
    margin-right: 10px;
    cursor: pointer;
}
.button-window:hover {
    color: #DBFF00;
}
.dialog {
    background-color: #ebeeda;
    border-bottom-left-radius: 7%;
    border-bottom-right-radius: 2%;
    border-top-right-radius: 7%;
    border-top-left-radius: 2%;
}
.dialog_title {
    font-size: 20px;
}
.dialog_welcome {
    font-size: 20px;
}
.dialog_info {
    color: #9c9c9c;
}
/* end button window */
/* start contact mail */
.header_theme { 
    display: inline-flex; 
    flex-wrap: wrap; 
    align-items: center;
}
.theme_main { 
    display: block;
    font-size: 25px;
    background: none;
    color: white;
    transition: 0.3s;
    margin-right: 3px;
}
.theme_hide {
    display: none;
    margin: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.5s;
    width: 32px;
    height: 32px;
    background-color: none;
    background-color:rgb(136, 172, 36);
    border-radius: 50%;
    border: none;
}
.theme_hide:hover {
    scale: 1.1;
}
.theme_main:hover {
    color: #DBFF00;
}
.header_theme:hover .theme_hide { 
    display: block;
}
/* end contact mail */
.after_header_content {
    padding: 10px;
    padding-bottom: 120px;
}
.after_header_content h1 {
    color: #FFA800;
    font-size: 75px;
}
.after_header_content h3 {
    color: #DBFF00;
    font-size: 35px;
}
.line_photo {
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 95px;
}
.line_photo div h3 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    padding-left: 20px;
    padding-top: 300px;
    padding-bottom: 15px;
    text-align: justify;
    transition: 0.75s ease;
}
.line_photo p {
    border: 6px solid yellowgreen;
    border-radius: 15px; 
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 27px;
    padding: 2px;
    min-width: 290px;
    width: 30%;
    text-align: justify;
}
.miniature_tree {
    background-image: url(imcss/coffee_tree2.png);
    position: absolute;
    background-repeat: no-repeat;
    height: 401.3px;
    width: 450px;
    transition: 0.75s;
    right: 34%;
    border-radius: 15%;
}
.miniature_cofe {
    background-image: url(imcss/cofe.png);
    position: absolute;
    background-repeat: no-repeat;
    height: 401.3px;
    width: 450px;
    transition: 0.75s;
    right: 2%;
    border-radius: 15%;
}
.miniature_tree:hover {
    transform: scale(1.1);
    filter: saturate(165%);
    box-shadow: 0 0 12px #0dc736;
}
.miniature_cofe:hover {
    transform: scale(1.1);
    filter: saturate(150%);
    box-shadow: 0 0 12px #ffd310;
}
.miniature_tree h3:hover {
    color: #daffcc;
}
.miniature_cofe h3:hover {
    color: #fff5c8;
}
/* start main */
.page_content {
    border: 7px solid #38300e;
    border-radius: 30px;
    background-color: #eed6a2;
    text-align: center;
    margin: 300px auto;
    display: flex;
    background-image: url(imcss/coffee_tree.jpg);
    background-size: 300%;
    background-repeat: no-repeat;
    width: 18.5%;
    min-width: 300px;
}
.text_content legend{
    font-size: 40px;
}
.text_content {
    color: #000000;
}
.href_content {
    text-decoration: none;
    color: #000000;
    font-size: 40px;
}
.href_content:hover {
    color: #bdff23;
}
.section_1 {
    margin: 150px 3% 0 3%;
    justify-content: left;
}
.section_1_line {
    align-items: center;
    display: flex;
}
.section_1 h1 {
    font-size: 60px;
    text-align: left;
    margin-bottom: -4%;
}
.section_1 p {
    font-size: 30px;
    text-align: justify;
    width: 50%;
    min-width: 300px;
}
.section_1_line img {
    transition: 0.75s;
    margin-left: 11%;
    filter: saturate(110%);
    transform: perspective(500px) rotateY(-5deg) rotateX(5deg);
}
.section_1_line img:hover {
    filter:saturate(125%);
    transform: perspective(500px) rotateY(-5deg) rotateX(5deg) rotate(2deg) scale(1.03);
} 
.section_2 {
    margin-top: 150px;
}
.section_2 h1 {
    font-size: 60px;
    text-align: center;
}
.threecolums {
    display: inline-block;
    text-align: center;
    margin: 0 8% 0 8%;
}
.firstline {
    float: left;
    width: 33.3%;
    height: 400px;
}
.secondline {
    float: left;
    width: 33.3%;
    height: 400px;
}
.firstline img {
    border-radius: 20%;
    transition: 0.5s ease-in-out;
}
.firstline img:hover {
    scale: 1.08;
    transform: rotate(2deg);
    filter: saturate(110%);
    box-shadow: 0 0 7px #ffffff;
}
.secondline img {
    border-radius: 20%;
    transition: 0.5s ease-in-out;
}
.secondline img:hover {
    /* transform: rotate(2deg); */
    scale: 1.08;
    transform: rotate(2deg);
    filter: saturate(110%);
    box-shadow: 0 0 7px #ffffff;
}
.context {
    font-size: 30px;
    margin-top: -35px;
    transition: 0.4s ease-in-out;
}
.section_3 {
    margin: 150px 2% 0 2%;
}
.section_3 h1 {
    font-size: 60px;
    text-align: center;
}
.twocolums {
	white-space: nowrap;
}
.twocolums_item {
	white-space: normal;
	display: inline-block;
	width: 40%;
	vertical-align: top;
    text-align: justify;
    font-size: 28px;
    border: 0px solid #000000;
    border-radius: 20px;
    padding: 1%;
    transition: 0.2s ease-in-out;
    background: linear-gradient(125deg, rgba(182, 255, 87, 0.75), rgba(255, 189, 97, 0.75));
}
.twocolums .twocolums_item:first-child {
	margin-right: 16%;
}
.twocolums_item h3 {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.twocolums_item:hover {
    box-shadow: 0 0 20px #e5ff74;
}
.section_4 {
    align-items: center;
    margin: 300px auto;
    padding-bottom: 20px;
    border-radius: 3%;
    border: 2px solid black;
    background: linear-gradient(-45deg, #ff7e57, #ffef0b, #d3ff33, #28ff56);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}
.section_4 h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 10px;
}
@keyframes gradient {
0% {
   background-position: 0% 25%;
}
15% {
   background-position: 25% 50%;
}
30% {
    background-position: 50% 75%;
}
45% {
    background-position: 75% 100%;
}
55% {
   background-position: 100% 75%;
}
70% {
    background-position: 75% 50%;
}
85% {
    background-position: 50% 25%;
}
100% {
    background-position: 25% 0%;
}
}
.types_top{
    font-size: 35px;
    margin: auto;
    text-align: center;
    margin-top: -20px;
}
.types_middle {
    text-align: justify;
    font-size: 28px;
    margin: 30px auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}
.section_5 {
    margin: 150px 3% 0 3%;
    text-align: center;
}
.section_5 h1 {
    font-size: 60px;
    text-align: center;
}
.twocolums_item2 h3 {
    font-size: 50px;
    text-align: center;
}
.twocolums2 {
    white-space: nowrap;
}
.twocolums_item2 {
    margin-top: 25px;
	white-space: normal;
	display: inline-block;
	width: 37%;
	vertical-align: top;
    text-align: justify;
    font-size: 28px;
    border: 3px solid #000000;
    border-radius: 20px;
    padding: 4px;
    transition: 0.3s ease-in-out;
    background-color: rgba(202, 255, 55, 0.5);
}
.twocolums_item2:hover {
    border: 3px solid #fcff3d;
    scale: 1.05;
    box-shadow: 0 0 30px #fcff3d inset;
    background-color: rgba(199, 255, 94, 0.750);
}
.twocolums2 .twocolums_item2:first-child {
	margin-right: 20%;
}
.section_6 {
    margin: 375px auto;
    text-align: center;
}
.section_6 h1 {
    font-size: 60px;
    text-align: center;
}
.twocolums3 {
    white-space: nowrap;
}
.twocolums_item3 {
	display: inline-block;
	width: 45%;
	vertical-align: top;
    margin-top: 25px;
}
.twocolums_item3 p {
    margin-top: 0px;
	white-space: normal;
	vertical-align: top;
    text-align: justify;
    font-size: 28px;
    border: 3px solid #000000;
    border-radius: 30px;
    padding: 5px 5px 5px 5px;
    background-color: rgba(255, 196, 68, 0.774);
}
.twocolums_item3 img {
    padding: 1px;
    border-radius: 45px;
    width: 100%;
    margin-top: 0px;
}
.twocolums3 .twocolums_item3:first-child {
	margin-right: 5%;
}
.section_7 {
    margin: 300px auto;
    text-align: center;
}
.section_7 h1 {
    font-size: 60px;
    text-align: center;
}
.background_slider {
    background-color: #3a3a3a7a;
    padding: 40px;
    border-radius: 2%;
}
.slider_container {
    position: relative;
    width: 65%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 5%;
}
.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slider img {
    width: 99.97%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.slider img:hover {
    scale: 103%;
}
.prev_button,
.next_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none 1px rgb(158, 158, 158);
    border-radius: 25%;
    font-size: 24px;
    color: rgb(110, 110, 110);
    transition: 0.35s ease-in-out;
}
.prev_button:hover {
    color: rgb(255, 255, 255);
    font-size: 35px;
    border: 3px solid #ffffff;
    border-radius: 50%;
}
.next_button:hover {
    color: rgb(255, 255, 255);
    font-size: 35px;
    border: 3px solid #ffffff;
    border-radius: 50%;
}
.prev_button {
    left: 10px;
}
.next_button {
    right: 10px;
}
.section_8 {
    margin: 300px auto;
}
.conclusion {
    font-size: 60px;
    text-align: center;
}
.conclusion_page {
    text-align: center;
    font-size: 28px;
    margin: auto;
    border: 2.5px dashed black;
    border-radius: 20px;
    max-width: 50%;
    background-color: rgba(253, 255, 114, 1);
    transition: 0.1s;
}
/* end main */
/* start footer */
footer {
    display: block;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    margin-top: 500px;
    width: 90%;
    height: 200px;
    background: linear-gradient(rgb(152, 212, 12), rgb(32, 148, 67));
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
}
.contact {
    align-items: center;
    display: flex;
}
.contact p{
    font-size: 20px;
    color: white;
    text-align: left;
    margin-right: 8px;
}
.contact_href {
    background-color: white;
    padding: 5px;
    border-radius: 30%;
    transition: 0.5s;
    margin-right: 8px;
}
.contact_href:hover {
    scale: 1.1;
    box-shadow: 0 0 20px #e5ff74;
}
.info {
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.info p {
    text-align: justify;
    margin-right: 10px;
}
.info span {
    text-align: justify;
    margin-left: auto;
}
/* end footer */